<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>JSON Validator</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
  <!-- Jquery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <div class="row">
      <div class="one-half column">
        <h4>
          <a class="button" href="/">JSON Validator</a>
        </h4>
      </div>
    </div>

    <div class="row">
        <div class="one-half column">
            <form action="json_validate" method="POST">
                <div class="row">
                  <label for="JSON">JSON object:</label>
                  <textarea class="u-full-width" placeholder="Put your JSON-object" name="jsonObj" id="jsonObj"></textarea>
                </div>
                <div class="one-half column">
                  <input class="button-primary" id="validate" type="submit" value="Validate JSON">
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="twelve column" id="payload">
            <%- if valid_flag == 1 -%>
                <h5 style="color: green"> Valid! </h5>
            <%- else -%>
                <h5 style="color: red"> Invalid!  </h5>
                <p style="font-style: oblique; color: red"> <%= err_msg %> </p>
            <%- end -%>
        </div>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
